<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="light">
                <p class="text-faded">ADS </p>
                <p class="text-faded" href="https://benty-fields.com/library?category_id=142&user_id=77"> Benty-fields</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                <div itemscope itemtype="https://schema.org/Person">
                    <a itemprop="sameAs" content="https://orcid.org/0000-0002-9885-3989" href="https://orcid.org/0000-0002-9885-3989" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;">
                        <img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-9885-3989</a>
                </div>
            </div>
        </div>
    </div>
</section>
