<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="primary">
                <p style="color:rgb(255, 255, 255)"> <a href="https://benty-fields.com/library?category_id=142&user_id=77">Benty-Fields</a></p>
                <p style="color:rgb(255, 255, 255)"> <a href="https://orcid.org/0000-0002-9885-3989">Orcid</a></p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
